<!DOCTYPE html>
<html>
<head>
  
  <title>GitHub Analyzer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="logo-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
     alt="GitHub Logo" class="github-logo">
  </div>

  <h1>GitHub Analyzer</h1>
  
  <div id="rate-limit-label"></div> 
  <input id="username" placeholder="GitHub username" />
  <div>
    <button onclick="fetchRepos()">Show Repositories</button>
    <button onclick="fetchButtons()">Show Recent Commits</button>
    <button onclick="fetchProfile()">Show User Profile</button>
    <button onclick="fetchAll()">Show All Info</button>
  </div>

  <div id="profile"><h2>Profile:</h2></div>
  <div id="repositorys"><h2>Repositories:</h2></div>
  <div id="commits"><h2>Commit History:</h2></div>

  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>